

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Diet badges */
.badge.diet {
    float: right;
}
.badge.diet + .badge {margin-right: 10px;}

/* panels override */
.panel-noborder,
.panel-noborder .panel-body {
    box-shadow: none;
}

/* Readmore links*/
.readmore {}
.readmore .caret {
    transform: rotate(-90deg);
    transform-origin: center center;
    margin-top: -0.15em;
}

/* Thumbnails in list */
.floating-thumb {
    float: left;
    margin: 0 0.5em 0.5em 0;
}

/* Tables */
.panel-group-table {
    padding-left: 10px;
    padding-right: 10px;
}


/* Homepage */
.page--homepage {}
.page--homepage .panel-footer {
    text-align: right;
}

/* Calendar */
.calendar {
    font-size: 0.9em;
}

.calendar thead tr th,
.calendar tbody tr td {
    padding: 4px;
    width: 14.28%;
}
.calendar thead tr th {
    text-align: right;
}
.calendar tbody tr td + td {
    border-left: 1px solid;
}
.calendar tbody tr td,
.calendar tbody tr td + td {
    border-color: #ddd;
}

.calendar td.day {height: 4em;}
.calendar td.day--with-meal {height: auto}

.day-number {
    display: block;
    color: #333;
    text-align: right;
}
.day--disabled .day-number {color: #ddd;}
.day--with-meal .day-number {font-weight: bold;}

.day--with-meal {
    background-color: #f5f5f5;
}
.day--disabled.day--with-meal {
    background-color: #fff;
    color: #ddd;
}

.day-meals {
    margin: 0.25em 0;
    padding: 0;
    list-style: none;
}
.day-meals li {}
.day-meals li + li {margin-top: 0.25em;}

.calendar caption {
    margin-bottom: 0;
    text-align: center;
}
