{% extends "recipes/base.html" %}
{% block title %}Ingredients list{% endblock %}
{% block body_class %}page page--ingredient page--ingredient--list{% endblock %}

{% block content %}

<header>
    <ol class="breadcrumb">
      <li><a href="{% url 'home' %}">Accueil</a></li>
      <li class="active">Liste des ingrédients</li>
    </ol>
    <h1>Liste des ingrédients</h1>
</header>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Liste des ingrédients</h2>
    </div>
    {% if ingredient_list %}
    <ul class="list-group">
    {% for ingredient in ingredient_list %}
    <li class="list-group-item">
        {% if ingredient.diets.count %}
        {% for diet in ingredient.diets.all %}
        <span class="diet badge">{{ diet }}</span>
        {% endfor %}
        {% else %}
        <span class="diet badge">Omnivore</span>
        {% endif %}
        <h2 class="list-group-item-heading"><a href="{{ ingredient.get_absolute_url }}">{{ ingredient }}</a></h2>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock %}
