{% extends "recipes/base.html" %}
{% block title %}{{ ingredient.name | capfirst }}{% endblock %}
{% block body_class %}page page--ingredient page--ingredient--{{ ingredient.id }}{% endblock %}

{% block content %}

<header>
    <ol class="breadcrumb">
      <li><a href="{% url 'home' %}">Accueil</a></li>
      <li><a href="{% url 'ingredient_list' %}">Liste des ingrédients</a></li>
      <li class="active">{{ ingredient.name }}</li>
    </ol>
    <h1>{{ ingredient.name | capfirst }}</h1>
</header>

<div class="panel panel-noborder">
    <div class="panel-body">
        {% if ingredient.diets.count %}
        {% for diet in ingredient.diets.all %}
        <span class="diet badge">{{ diet }}</span>
        {% endfor %}
        {% else %}
        <span class="diet badge">Omnivore</span>
        {% endif %}
    </div>
</div>

{% if request.user.is_staff %}
<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title"><span class="glyphicon glyphicon-cog"></span> Administration</h2>
    </div>
    <div class="panel-body">
        <a href="{{ ingredient.get_admin_url }}" class="btn btn-default">Editer cet ingrédient</a>
    </div>
</div>
{% endif %}

{% endblock %}
