{% extends "recipes/base.html" %}
{% block title %}{{ ingredient.name | capfirst }}{% endblock %}

{% block content %}

<header>
    <ol class="breadcrumb">
      <li><a href="{% url 'home' %}">Accueil</a></li>
      <li><a href="{% url 'ingredient_list' %}">Liste des ingrédients</a></li>
      <li class="active">{{ ingredient.name }}</li>
    </ol>
    <h1>{{ ingredient.name | capfirst }}</h1>
</header>

<div class="panel panel-noborder">
    <div class="panel-body">
        {% if ingredient.diets.count %}
        {% for diet in ingredient.diets.all %}
        <span class="diet badge">{{ diet }}</span>
        {% endfor %}
        {% else %}
        <span class="diet badge">Omnivore</span>
        {% endif %}
    </div>
</div>


{% endblock %}
