{% extends "recipes/base.html" %}
{% load thumbnail %}
{% block title %}{{ recipe.name | capfirst }}{% endblock %}
{% block body_class %}page page--recipe page--recipe--{{ recipe.id }}{% endblock %}

{% block content %}

<header>
    <ol class="breadcrumb">
      <li><a href="{% url 'home' %}">Accueil</a></li>
      <li><a href="{% url 'recipe_list' %}">Liste des recettes</a></li>
      <li class="active">{{ recipe.name }}</li>
    </ol>
    <h1>{{ recipe.name | capfirst }}</h1>
</header>

<div class="panel panel-noborder">
    <div class="panel-body">
        {% if recipe.diets.count %}
        {% for diet in recipe.diets.all %}
        <span class="diet badge">{{ diet }}</span>
        {% endfor %}
        {% else %}
        <span class="diet badge">Omnivore</span>
        {% endif %}

    Type : {{ recipe.get_meal_type_display }}
    </div>
</div>

<div class="row">
    <div class="{% if recipe.ustensils.all %}col-lg-4 col-md-4{% else %}col-lg-6 col-md-6{% endif %}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><span class="glyphicon glyphicon-shopping-cart"></span> Ingrédients <small>( {{ recipe.parts }} personne{{ recipe.parts | pluralize }} )</small></h2>
            </div>
            <ul class="list-group">
            {% for recipeingredient in recipe.recipeingredient_set.all %}
                <li class="list-group-item"><a href="{{ recipeingredient.ingredient.get_absolute_url }}">{{ recipeingredient.ingredient | capfirst }}</a>: {{ recipeingredient.quantity }} {{ recipeingredient.ingredient.unit }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="{% if recipe.ustensils.all %}col-lg-4 col-md-4{% else %}col-lg-6 col-md-6{% endif %}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><span class="glyphicon glyphicon-time"></span> Durée</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Temps de préparation : {% if not recipe.preparation_time %}Aucun{% else %}{{ recipe.preparation_time }}{% endif %}</li>
                <li class="list-group-item">Temps de cuisson : {% if not recipe.cooking_time %}Aucun{% else %}{{ recipe.cooking_time }}{% endif %}</li>
            </ul>
        </div>
    </div>

    {% if recipe.ustensils.all %}
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><span class="glyphicon glyphicon-cutlery"></span> Ustensiles</h2>
            </div>
            <ul class="list-group">
            {% for ustensil in recipe.ustensils.all %}
                <li class="list-group-item">{{ ustensil | capfirst }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span> Instructions</h2>
    </div>
    <div class="panel-body">{{ recipe.description }}</div>
</div>

{% if recipe.parent_recipes.count %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><span class="glyphicon glyphicon-paperclip"></span> Recettes de base</h2>
    </div>
    <ul class="list-group">
    {% for parent_recipe in recipe.parent_recipes.all %}
        <li class="list-group-item"><a href="{{ parent_recipe.get_absolute_url }}">{{ parent_recipe }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}



<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> Appartenance</h2>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Auteur·e : {{ recipe.author }}</li>
        <li class="list-group-item">Licence : {{ recipe.licence | safe }}</li>
    </ul>
</div>


{% if recipe.picture %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><span class="glyphicon glyphicon-picture"></span> Image</h2>
    </div>
    <div class="panel-body">
        <a href="{{ recipe.picture.url }}" class="recipe-picture-link">
            {% thumbnail recipe.picture "400x400" as picture %}
            <img src="{{ picture.url }}" alt="{{ recipe.name }}" />
            {% endthumbnail %}
        </a>
    </div>
</div>
{% endif %}

{% if request.user.is_staff %}
<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title"><span class="glyphicon glyphicon-cog"></span> Administration</h2>
    </div>
    <div class="panel-body">
        <a href="{{ recipe.get_admin_url }}" class="btn btn-default">Editer cette recette</a>
    </div>
</div>
{% endif %}

{% endblock %}
