{% extends "recipes/base.html" %}
{% block title %}Recipes list{% endblock %}

{% block content %}

<header>
    <ol class="breadcrumb">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li class="active">Recipes list</li>
    </ol>
    <h1>Recipes list</h1>
</header>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Recipes list</h2>
    </div>
    {% if recipe_list %}
    <ul class="list-group">
    {% for recipe in recipe_list %}
    <li class="list-group-item">

        <div class="row">
            <div class="col-lg-2">
                {% if recipe.picture %}
                <a href="{{ recipe.picture.url }}" target="_blank">
                    <img class="" src="{{ recipe.picture.url }}" alt="{{ recipe }}" />
                </a>
                {% endif %}
            </div>
            <div class="col-lg-10">
                {% if recipe.diets %}
                {% for diet in recipe.diets.all %}
                <span class="diet badge">{{ diet }}</span>
                {% endfor %}
                {% else %}
                <span class="diet badge">Omnivore</span>
                {% endif %}
                <h2 class="list-group-item-heading"><a href="/recipes/{{ recipe.id }}">{{ recipe }}</a></h2>
                <div class="list-group-item-text clearfix">
                    <strong>Type:</strong> {{ recipe.meal_type }}<br />
                    {% if recipe.preparation_time %}
                    <strong>Preparation time:</strong> {{ recipe.preparation_time }}<br />
                    {% endif %}
                    {% if recipe.cooking_time %}
                    <strong>Cooking time:</strong> {{ recipe.cooking_time }}
                    {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock %}