{% extends "recipes/base.html" %}
{% block title %}Meal roadmap: {{ meal.name }}{% endblock %}
{% block body_class %}page page--roadmap page--roadmap--meal page--roadmap--meal--{{ meal.id }}{% endblock %}

{% block content %}


{% load key %}

<header>
    <ol class="breadcrumb">
      <li><a href="{% url 'homepage' %}">Accueil</a></li>
      <li class="active">Feuille de route : {{ meal.name }}</li>
    </ol>
    <h1>Feuille de route : {{ meal.name }}</h1>
</header>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Liste des plats</h2>
    </div>
    <ul class="list-group">
    {% with participants=meal.recipe_diet_participants %}
    {% for recipe in meal.recipes_list %}
        {% with participant=participants|key:recipe %}
        <li class="list-group-item">
        <div class="row">
            <div class="col-lg-2">
                {% if recipe.picture %}
                <a href="{{ recipe.picture.url }}" target="_blank">
                    <img class="" src="{{ recipe.picture.url }}" alt="{{ recipe }}" />
                </a>
                {% endif %}
            </div>
            <div class="col-lg-10">
                {% include "recipes/inc/diets_badges.html" with diets=recipe.diets %}
                <h3 class="list-group-item-heading"><a href="/recipes/{{ recipe.id }}">{{ recipe }}</a></h3>
                <div class="list-group-item-text clearfix">
                    {% if participant == 0 %}
                    <p class="text-danger">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        Aucun participant ne peut consommer ce plat !
                    </p>
                    {% else %}
                    <p>
                    pour {{ participant }} personne{{ participant |  pluralize }}
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        </li>
        {% endwith %}
    {% endfor %}
    {% endwith %}
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Liste des participants</h2>
    </div>
    <ul class="list-group">
    {% for participant in meal.participants %}
        <li class="list-group-item">
            <h3 class="list-group-item-heading">
            {{ participant.count }} {{ participant.diet_name }}{{ participant.count | pluralize }}
            </h3>
            <div class="list-group-item-text">
                {% if participant.can_eat|length == 0 %}
                <p class="text-danger">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    Ce{{ participant.count | pluralize }}
                        participant{{ participant.count | pluralize }} ne
                        peu{{ participant.count | pluralize:'t,vent' }} rien
                        manger !</p>
                {% else %}
                <p>Ce{{ participant.count | pluralize }}
                   participant{{ participant.count | pluralize }}
                   peu{{ participant.count | pluralize:'t,vent' }} manger
                   {{ participant.can_eat | join:', ' }}</p>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Liste de courses</h2>
    </div>
    <div class="panel-group panel-group-table">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Ingrédient</th>
                    <th>Prix unitaire</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in meal.ingredients_list %}
                    <tr>
                        <td>{{ ingredient.ingredient }}</td>
                        <td>{{ ingredient.ingredient.price | floatformat:2 }} €</td>
                        <td>{{ ingredient.quantity }} {{ ingredient.ingredient.unit }}</td>
                        <td>{{ ingredient.price | floatformat:2 }} €</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">TOTAL</td><td>{{ meal.total_price | floatformat:2 }} €</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Ustensiles</h2>
    </div>
    <ul class="list-group">
    {% for ustensil in meal.ustensils_list %}
        <li class="list-group-item">
            {{ ustensil.ustensil }}
            {% if ustensil.used_in|length > 1 %}
            <br />Utilisé pour :
            <ul>
                {% for recipe in ustensil.used_in %}
                <li>{{ recipe }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
