{% load key %}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>Feuille de route de repas</title>
	</head>
	<body>
        <h1>Feuille de route de repas : {{ meal.name }}</h1>
        <h2>Liste des plats</h2>
        <ul>
        {% with participants=meal.recipe_diet_participants %}
        {% for recipe in meal.recipes_list %}
            {% with participant=participants|key:recipe %}
            <li>
                {% if recipe.picture %}
                <img src="{{ recipe.picture.url }}" alt="{{ recipe }}" width="100" />
                {% endif %}
                {{ recipe }}
                {% if recipe.diets %}
                (<em>{{ recipe.diets | join:', ' }}</em>)
                {% else %}
                (<em>Omnivore</em>)
                {% endif %}
                {% if participant == 0 %}
                <strong>Aucun participant ne peut consommer ce plat !</strong>
                {% else %}
                pour {{ participant }} personne{{ participant |  pluralize }}
                {% endif %}
            </li>
            {% endwith %}
        {% endfor %}
        {% endwith %}
        </ul>
        <h2>Liste des participants</h2>
        <ul>
            {% for participant in meal.participants %}
            <li>{{ participant.count }} {{ participant.diet_name }}{{ participant.count | pluralize }}
                {% if participant.can_eat|length == 0 %}
                <p><strong>Ce{{ participant.count | pluralize }}
                        participant{{ participant.count | pluralize }} ne
                        peu{{ participant.count | pluralize:'t,vent' }} rien
                        manger !</strong></p>
                {% else %}
                <p>Ce{{ participant.count | pluralize }}
                   participant{{ participant.count | pluralize }}
                   peu{{ participant.count | pluralize:'t,vent' }} manger
                   {{ participant.can_eat | join:', ' }}</p>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <h2>Liste de courses</h2>
        <table>
            <thead>
                <tr><th>Ingrédient</th><th>Prix unitaire</th><th>Quantité</th><th>Prix</th></tr>
            </thead>
            <tbody>
                {% for ingredient in meal.ingredients_list %}
                    <tr><td>{{ ingredient.ingredient }}</td>
                        <td>{{ ingredient.ingredient.price }} €</td>
                        <td>{{ ingredient.quantity }} {{ ingredient.ingredient.unit }}</td>
                        <td>{{ ingredient.price }} €</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr><td colspan="3">TOTAL</td>
                    <td><strong>{{ meal.total_price }} €</strong></td></tr>
            </tfoot>
        </table>
        <h2>Ustensiles</h2>
        <ul>
            {% for ustensil in meal.ustensils_list %}
            <li>{{ ustensil.ustensil }}
                {% if ustensil.used_in|length > 1 %}
                <br />Utilisé pour :
                <ul>
                    {% for recipe in ustensil.used_in %}
                    <li>{{ recipe }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
	</body>
</html>
