{% extends "recipes/base.html" %}
{% block title %}Session roadmap: {{ session.name }}{% endblock %}

{% block content %}

{% load key %}

<header>
    <ol class="breadcrumb">
      <li><a href="{% url 'home' %}">Accueil</a></li>
      <li class="active">Feuille de route : {{ session.name }}</li>
    </ol>
    <h1>Feuille de route : {{ session.name }}</h1>
</header>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Agenda</h2>
    </div>
    <div class="panel-group panel-group-table">
        {% if session.calendar %}
        <div class="row">
        {% for month in session.calendar %}
        <div class="col-lg-6 col-md-6">
        <table class="table calendar">
            <caption class="h3">{{ month.month | date:'F Y' }}</caption>
            <thead>
                <tr>
                    <th>Lun</th>
                    <th>Mar</th>
                    <th>Mer</th>
                    <th>Jeu</th>
                    <th>Ven</th>
                    <th>Sam</th>
                    <th>Dim</th>
                </tr>
            </thead>
            <tbody>
                {% for week in month.dates %}
                <tr>
                    {% for day in week %}
                    <td class="day {% if day.date.month != month.month.month %}
                        day--disabled{% endif %} {% if day.meals %}day--with-meal{% endif %}">
                        <span class="day-number">{{ day.date | date:'d' }}</span>
                        {% if day.meals %}
                        <ul class="day-meals">
                        {% for meal in day.meals %}
                        <li>{{ meal.date | date:'H:i' }} - {{ meal }}
                            <small>{{ meal.participants_count }}&nbsp;participant{{ meal.participants_count | pluralize }}</small>
                        </li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        {% endfor %}
        </div>
        {% else %}
        <p class="text-danger">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            Il n’y a aucun repas dans cette session !
        </p>
        {% endif %}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Liste de courses</h2>
    </div>
    <div class="panel-group panel-group-table">
        <table class="table table-striped table-hover ">
            <thead>
                <tr><th>Ingrédient</th><th>Prix unitaire</th><th>Quantité</th><th>Prix</th></tr>
            </thead>
            <tbody>
                {% if session.ingredients_list %}
                {% for ingredient in session.ingredients_list %}
                {% ifchanged ingredient.date %}
                <tr><th colspan="4">Pour le {{ ingredient.date | date:'DATE_FORMAT' }}</th></tr>
                {% endifchanged %}
                <tr><td>{{ ingredient.ingredient }}</td>
                    <td>{{ ingredient.ingredient.price }} €</td>
                    <td>{{ ingredient.quantity }} {{ ingredient.ingredient.unit }}</td>
                    <td>{{ ingredient.price }} €</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="warning"><td colspan="4">Aucun ingredient</td></tr>
                {% endif %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">TOTAL</td>
                    <td>{{ session.total_price }} €</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Ustensiles</h2>
    </div>
    <div class="list-group">
        {% for meal in session.meals %}
        <li class="list-group-item">
            <h3 class="list-group-item-heading">Pour {{ meal }} ({{ meal.date | date:'DATE_FORMAT' }})</h3>
            <div class="list-group-item-text">
                <ul class="">
                    {% for ustensil in meal.ustensils_list %}
                    <li class="">
                        <strong>{{ ustensil.ustensil | capfirst }}</strong>
                        {% if ustensil.used_in|length > 1 %}
                        (Utilisé pour : {{ ustensil.used_in | join:', ' }})
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </div>
</div>

{% endblock %}
