
/* Responsive */
img {
    max-width: 100%;
    height: auto;
}

/* Page footer */
.page-footer {
    padding-top: 9px;
    margin: 20px 0px 40px;
    border-top: 1px solid #EEE;
}
.page-footer ul {
    margin: 0;
    padding: 0;
}
.page-footer li {display: inline;}
.page-footer li + li:before {
    content: "-";
    display: inline-block;
    margin-right: 0.25em;
    color: #999;
}


/* Breadcrumb */
.breadcrumb > li + li::before {
    content: "▸";
}

/* Tables */
tfoot {
    font-weight: bold;
}
